{% extends "base.html" %}
{% block content %}
<h3>Lista de futuros morosos:</h3>

{% if morosos_list %}
	<table class="table table-striped table-bordered table-hover">	
		<tr><th><strong>ISBN</strong></th><th>Fecha Pr&eacute;stamo</th><th>Documento Socio</th><th>Nombre</th></tr> 
	{% for moroso in morosos_list %}
		<tr>
			<td>{{ moroso.ejemplar.libro.isbn}}</td>
			<td>{{ moroso.fecha_ini|date:"d/m/Y"}}</td>
			<td>{{ moroso.socio.documento }}</td>
			<td>{{ moroso.socio.nombre }}</td>			
		</tr>
	{% endfor %}
	</table>
{% else %}
<p>No se encontraron registros.</p>
{% endif %}
{% endblock %}

