<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Biblio</title>
</head>
<body>
	<h1>Sistema de Gestión de Biblioteca</h1>
	<h3>Funcionalidades:</h3>
	<ul>
	<li><a href="/biblio/prestamo/">Préstamo</a></li>
	<li><a href="/biblio/devolucion/">Devolución</a></li>	
	<li><a href="/biblio/list_socios">Socios</a></li>
	<li><a href="/biblio/list_copias">Copias</a></li>
	<li><a href="/biblio/list_libros">Libros</a></li>
	<li><a href="/biblio/morosos">Lista de morosos</a></li>
	<li><a href="/biblio/prestamo_fecha">Búsqueda de Préstamos en una fecha</a></li>
	<li><a href="/biblio/futuros_morosos">Lista de futuros morosos</a></li>
	</ul>
</body>
</html>