{% extends "base.html" %}
{% block content %}

<h3>Lista de morosos:</h3>

{% if morosos_list %}
	<table class="table table-striped table-bordered table-hover">	
		<tr><th><strong>Documento</strong></th><th>Nombre</th><th>Email</th></tr> 
	{% for moroso in morosos_list %}
		<tr>
			<td><a href="./socio/{{ moroso.documento }}">{{ moroso.documento}}</a></td>
			<td><a href="./socio/{{ moroso.documento }}">{{ moroso.nombre}}</a></td>
			<td><a href="./socio/{{ moroso.documento }}">{{ moroso.email }}</a></td>			
		</tr>
	{% endfor %}
	</table>
{% else %}
<p>No se encontraron registros.</p>
{% endif %}

{% endblock %}

