{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
<!--YYYY-MM-DD-->
	$(function() {
	    $( "#id_fecha_busqueda" ).datepicker({
	        dateFormat: "yy-mm-dd",
	        autoSize: true,
	        changeMonth: true,
	        selectOtherMonths: true,
	        setDate: new Date()
	    });
	});
</script>
  <h3>Pr&eacute;stamos realizados en la fecha: </h3>
  <form action="." method="GET">
    <label for="fecha">Fecha : </label>
    <input type="text" id="id_fecha_busqueda" name="fecha" value="{{ fecha|escape }}" required> 
    <input type="submit" value="Buscar"> 
  </form>
 
  {% if error %}
    <h4>Se ha producido un error. "{{ error|escape }}":</h4>
  
 
  {% elif fecha %}
  	<br />
    <h4>Resultados para la fecha: {{ fecha|escape }}</h4>
 
    {% if results %}
      <table class="table table-striped table-bordered table-hover">
      <tr><th>ISBN</th><th>Copia</th><th>Estado</th><th>Fecha Fin</th><th>Doc Socio</th><th>Nombre Socio</th></tr>
      {% for prestamo in results %}
        <tr><td>{{ prestamo.ejemplar.libro.isbn }}</td>
        <td>{{ prestamo.ejemplar.num_inventario }}</td>
        <td>{% if prestamo.ejemplar.disponible %} 
					Disponible 
				{% else %} 
					En pr&eacute;stamo
				{% endif %}</td>
				
				<td>{{ prestamo.fecha_fin|date:"d/m/Y"}}</td>
				<td>{{ prestamo.socio.documento}}</td>
				<td>{{prestamo.socio.documento}}</td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <p>No se encontraron registros</p>
    {% endif %}
  {% endif %}

  {% endblock %}